[submodule "bundle/Simple-Javascript-Indenter"]
	path = bundle/Simple-Javascript-Indenter
	url = https://github.com/vim-scripts/Simple-Javascript-Indenter.git
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = https://github.com/vim-scripts/jellybeans.vim.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/twilight256"]
	path = bundle/twilight256
	url = https://github.com/vim-scripts/twilight256.vim.git
[submodule "bundle/xml.vim"]
	path = bundle/xml.vim
	url = https://github.com/vim-scripts/xml.vim.git
[submodule "bundle/jQuery"]
	path = bundle/jQuery
	url = https://github.com/vim-scripts/jQuery.git
[submodule "bundle/php.vim--Garvin"]
	path = bundle/php.vim--Garvin
	url = https://github.com/vim-scripts/php.vim--Garvin.git
[submodule "bundle/php.vim--Nicholson"]
	path = bundle/php.vim--Nicholson
	url = https://github.com/vim-scripts/php.vim--Nicholson.git
[submodule "bundle/buftabs"]
	path = bundle/buftabs
	url = https://github.com/vim-scripts/buftabs.git
[submodule "bundle/Gist.vim"]
	path = bundle/Gist.vim
	url = https://github.com/vim-scripts/Gist.vim.git
[submodule "bundle/SuperTab-continued"]
	path = bundle/SuperTab-continued
	url = https://github.com/vim-scripts/SuperTab-continued..git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "bundle/ZenCoding.vim"]
	path = bundle/ZenCoding.vim
	url = https://github.com/vim-scripts/ZenCoding.vim.git
[submodule "bundle/auto_mkdir"]
	path = bundle/auto_mkdir
	url = https://github.com/vim-scripts/auto_mkdir.git
[submodule "molly.vim"]
	path = molly.vim
	url = https://github.com/vim-scripts/molly.vim.git
[submodule "bundle/molly.vim"]
	path = bundle/molly.vim
	url = https://github.com/vim-scripts/molly.vim.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/vim-scripts/snipMate.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/lua_omni"]
	path = bundle/lua_omni
	url = https://github.com/vim-scripts/lua_omni.git
[submodule "lua-support"]
	path = lua-support
	url = https://github.com/vim-scripts/lua-support.git
[submodule "bundle/checksyntax_vim"]
	path = bundle/checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/luainspect.vim"]
	path = bundle/luainspect.vim
	url = https://github.com/vim-scripts/luainspect.vim.git
[submodule "bundle/luarefvim"]
	path = bundle/luarefvim
	url = https://github.com/vim-scripts/luarefvim.git
[submodule "bundle/vim-lua-inspect"]
	path = bundle/vim-lua-inspect
	url = https://github.com/xolox/vim-lua-inspect.git
